.header {
    background: linear-gradient( rgba(245, 111, 108, 0.30), rgba(245, 111, 108, 0.75));
    // url('../../assets/bookheader1.jpeg');
    background-repeat: no-repeat;
    height: 60vh;
    width: 100%;
    box-sizing: border-box;
    background-size: cover;
    text-align: center;
    border-bottom: 2px solid #252932;
    position: absolute;
    top: 0;
    h1 {
        font-family: $title-font;
        padding-top: 15vh;
        color: $white;
        font-size: 4.5rem;
        margin-bottom: 0;
        margin-top: 0;
    }
    h2 {
        color: $white;
        font-size: 2.3rem;
        margin-top: 0.5rem;
        font-family: $header-font;
    }
    .users-btn {
        padding: 1.3%;
        font-size: 1.2rem;
        background-color: $primary-color;
        border: 0;
        // border: 2px solid white;
        color: $white;
        border-radius: 5px;
    }
}
@media only screen and (max-width: 480px) {
    .header {
        // background-size: cover;
        height: 50vh;
        padding: 2%;
        h1 {
            padding-top: 10vh;
        }
        .users-btn {
            padding: 2.3%;
        }
    }
}
.slider {
    height: 60vh;
    position: relative;
    .current {
        position: absolute;
        width: 100%;
        object-fit: cover;
        height: 100%;
        transition: left 5s;
        top: 0;
    }
    .slide-left-enter {
        left: 100%;
    }
    .slide-left-enter.slide-left-enter-active {
        left: 0;
    }
    .slide-left-leave {
        left: 0;
    }
    .slide-left-leave.slide-left-leave-active {
        left: -100%;
    }
}
@media only screen and (max-width: 640px) {
    .header {
        h1 {
            font-size: 3rem;
        }
        h2 {
            font-size: 1.6rem;
        }
    }
}
