.features-flex{
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  text-align: center;
  margin-top: 2rem;

  .solo-feature {
    flex-basis: 33%;
    padding: 2%;

    i {
      font-size: 2.2rem;
      color: $primary-color;
    }
  }

  span {
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 1.1rem;
  }

  .solo-feature-copy {
    font-size: 1rem;
    text-align: justify;
  }
}
