.login-holder {
  width: 50%;
  margin: 0 auto;
  margin-top: 13vh;
  border: 4px solid $main-color;
  text-align: center;
  padding: 2%;


  h2 {
    font-family: $header-font;
    font-size: 1.9rem;
    color: $primary-color;
  }

  .login-name {
    @include loginform;
    width: 50%;
  }

  .login-password {
    @include loginform;
    width: 50%;
  }

  .login-btn {
    @include loginform;
    font-size: 1.3rem;
    width: 100%;
    background: #F6F7F9;
    border: 1px solid darkgray;
  }

  .login-user-name {
    @include loginform;
    width: 100%;
  }
}
