@import 'variables';
@import 'nav';
@import 'header';
@import 'features';
@import 'footer';
@import 'userslist';
@import 'booksearch';
@import 'usersprofile';
@import 'login';
@import 'userposts';
@import 'userfavorites';
@import 'userfollowers';
@import 'page404';


html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  font-family: helvetica;

  .container {
    min-height: 100%;
    position: relative;
  }
}
