@import 'partials/variables';

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: helvetica;

  .container {
    min-height: 100%;
    position: relative;
  }
}
