@import 'partials/variables';
// font-family: 'Frederick the Great', cursive;
// font-family: 'Quicksand', sans-serif;

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  font-family: helvetica;

  .container {
    min-height: 100%;
    position: relative;
  }
}
