.users-holder {
    margin-top: 12vh;
    h2 {
        text-align: center;
        font-family: $header-font;
        font-weight: bold;
        font-size: 2rem;
    }

    ul {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      list-style-type: none;

      li {
        flex-basis: 10rem;
        padding: 2%;

        a {
          color: $primary-color;
          // text-decoration: none;
          font-size: 1.3rem;
        }

        p {
          text-align: center;
          margin-top: 0;
        }

        img {
          height: 150px;
          width: 150px;
          margin-left: 1%;
          object-fit: contain;
          border-radius: 50%;
          border: 2px solid $primary-color;
        }

      }

    }
}
