//bookmark for aside background?
.user-profile-container {
    margin-top: 13vh;
    display: flex;
    aside {
        margin-left: 1rem;
        margin-right: 3rem;
        flex: 1 0 0;
        // background: linear-gradient( rgba(245, 111, 108, 0.30), rgba(245, 111, 108, 0.75)),;
        h2 {
            text-align: center;
            font-size: 1.5rem;
            font-family: $header-font;
            color: #252932;
        }
        img {
            height: 8rem;
            width: 8rem;
            margin: 0 auto;
            display: block;
            object-fit: contain;
            border-radius: 50%;
            border: 2px solid #252932;
        }
        button {
            display: block;
            padding: 4%;
            font-size: 1rem;
            color: $white;
            width: 9vw;
            margin: 1rem auto 0;
            border: 0;
            background-color: $primary-color;
            margin-bottom: 0.5rem;
        }
        ul {
            list-style-type: none;
            padding-left: 0;
            a {
                text-decoration: none;
                color: $primary-color;
                li {
                    box-sizing: border-box;
                    padding: 4%;
                    width: 80%;
                    margin: 0 auto;
                    background-color: $secondary-color;
                    border-bottom: 2px solid $dark-gray;
                    margin-bottom: 0.5rem;
                    border-radius: 5px;
                    &:hover {
                        opacity: 0.75;
                    }
                    .mobile-nav-icon {
                        display: none;
                    }
                }
            }
        }
    }
    .profile-content {
        flex: 3 0 0;
    }
    h2 {
        text-align: center;
        font-family: $header-font;
        color: $primary-color;
    }
    .library-book-ul {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        list-style-type: none;
        padding-left: 0;
        li {
            flex-basis: 22%;
            margin-right: 1rem;
            margin-bottom: 1rem;
            img {
                width: 130px;
                height: 200px;
                object-fit: cover;
                // margin-left: 5%;
            }
            .library-book-title {
                margin: 0;
                font-size: 1.1rem;
                font-weight: bold;
            }
            .library-book-author {
                margin: 0;
                font-style: italic;
            }
        }
    }
    .book-fav {
        color: #A7A9AC;
        &:hover {
            color: #282828;
            animation-name: pulse;
            animation-duration: 2000ms;
            transform-origin: 70% 70%;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }
    .favorited {
        color: red;
    }
    .fa-trash {
        // float: right;
        color: #A7A9AC;
        margin-left: 1rem;
        &:hover {
            color: #282828;
        }
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.15);
    }
    40% {
        transform: scale(1.25);
    }
    50% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.2);
    }
    80% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}
//code credit help --https://paulund.co.uk/create-pulse-effect-with-css3-animation
@media only screen and (max-width: 550px) {
    .user-profile-container {
        // margin-top: 7vh;
        display: block;
        aside {
            margin: 0 auto;
            width: 100%;
            text-align: center;
            button {
                width: 30vw;
                padding: 2%
            }
            h2 {
                display: inline-block;
                line-height: 58%;
                font-size: 1.4rem;
            }
            .user-profile-img {
                height: 3rem;
                width: 3rem;
                position: absolute;
                left: 5%;
                display: inline-block;
            }
            ul {
                position: absolute;
                // top: 0;
                right: 0;
                width: 100%;
                display: flex;
                background: #9BD7D5;
                border-top: 1px solid black;
                // &:hover {
                //   background-color: #F6F7F9;
                // }
                a {
                    flex-basis: 25%;
                    li {
                        width: 100%;
                        padding: 0;
                        height: 9vh;
                        border-radius: 0;
                        border-bottom: 0;
                        margin-bottom: 0;
                        border-bottom: 1px solid black;
                        &:hover {
                            background-color: #F6F7F9;
                            border-bottom: 1px solid #F6F7F9;
                        }
                        li:not(first-child) {
                            border-left: 1px solid black;
                        }
                        &:active {
                            background-color: #F6F7F9;
                        }
                        .mobile-nav-icon {
                            display: block;
                            box-sizing: border-box;
                        }
                        .fa {
                            font-size: 1.5rem;
                            padding: 15%;
                            text-align: center;
                            color: #0C4C58;
                        }
                        img {
                            height: 4rem;
                            width: 3rem;
                            padding: 10%;
                            border: 0;
                            border-radius: 0;
                        }
                        span {
                            display: none;
                        }
                    }
                }
            }
        }
        .library-book-ul {
            margin: 0 auto;
            width: 90%;
            li {
                display: inline-flex;
                flex-basis: 100%;
                img {
                    // height: 100%;
                    margin-right: 1rem;
                    width: 110px;
                    height: 165px;
                    object-fit: contain;
                }
            }
        }
        .profile-content {
            margin-top: 18%;
            .profile-title {
                display: none;
            }
        }
    }
}
@media only screen and (max-width: 480px) {
    .user-profile-container {
        aside {
          button {
            width: 35vw;
          }
            ul {
                a {
                    li {
                        img {
                            height: 3rem;
                            width: 2.5rem;
                        }
                    }
                }
            }
        }
        .profile-content {
            margin-top: 30%;
        }
    }
}
