.books-container {
  margin-top: 13vh;

  h2 {
    padding-bottom: 2%;
    margin-left: 10%;
    margin-right: 7%;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    border-bottom: 2px solid #A7A9AC;

    span {
      color: #0C4C58
    }
  }

  .book-results {
    list-style-type: none;
    padding-left: 10%;
    padding-top: 2%;

    .single-book-holder {
      display: inline-block;
      width: 50%;
      max-height: 50vh;
      margin-bottom: 2rem;
    }

    .single-book-img {
      display: inline-block;
      position: relative;


      img {
        height: 200px;
        width: 130px;
        object-fit: cover;
        margin-top: 1rem;
        // position: relative;
        &:hover {
          cursor: pointer;
        }
      }

      .fa-search-plus {
        position: absolute;
        top: 1.1rem;
        right: 0.3rem;
        font-size: 1.3rem;
        color: white;
        // background: #0C4C58;
      }
    }

    .single-book-copy {
      display: inline-block;
      padding: 2%;
      margin-left: 1%;
      width: 60%;
      vertical-align: top;

      .single-book-title {
        font-weight: bold;
        margin: 0;
        color: #0C4C58;

        &:hover {
          cursor: pointer;
        }
      }

      .single-book-author {
        margin-top: 0;
        font-style: italic;
      }

      .single-book-description {
        span {
          font-weight: bold;
          color: #252932;
        }

        height: 16vh;
        overflow: scroll;
        border: 2px solid #0C4C58;
        padding: 2%;
        line-height: 21px;
        // margin-bottom: 0;
      }

      .single-book-add {
        width: 50%;
        padding: 3%;
        font-size: 1rem;
        background: #0C4C58;
        border: 0;
        color: white;
        float: right;
      }

      .single-book-added {
        background: #4f7177;
        width: 50%;
        padding: 3%;
        font-size: 1rem;
        border: 0;
        color: white;
        float: right;
      }
    }
  }

  .book-modal-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(black, .5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

    .book-modal {
      padding: 0.3rem;
      background: white;
      z-index: 0;
      height: 55%;
      width: 55%;
      overflow: auto;

      button {
        float: right;
        border: 0;
        background: transparent;

        .fa-remove {
          font-size: 1.3rem;
        }
      }

      .modal-title {

      }
      .modal-date {

      }
      .modal-count {

      }
      .modal-book-description {

      }
      .modal-book-link {

      }
    }
}

.button-holder {
  width: 35%;
  height: 10vh;
  margin: 0 auto;
  position: relative;

  .nextBtn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 3%;
    background: transparent;
    border: 0;
    font-size: 1.2rem;
    color: #0C4C58;
  }

  .prevBtn {
    padding: 3%;
    background: transparent;
    border: 0;
    font-size: 1.2rem;
    color: #0C4C58;
    // border-right: 1px solid #0C4C58;
  }

  .fa {
    font-size: 1.5rem;
  }

}
