.features-flex{
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  text-align: center;
  margin-top: 2rem;

  .solo-feature {
    flex-basis: 33%;
    padding: 2%;

    i {
      font-size: 2rem;
      color: #0C4C58;
    }
  }

  span {
    display: block;
    font-weight: bold;
  }
}
