.login-holder {
  width: 50%;
  margin: 0 auto;
  margin-top: 13vh;
  border: 4px solid #F56F6C;
  text-align: center;
  padding: 2%;


  h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.9rem;
    color: #0C4C58;
  }

  .login-name {
    font-size: 1rem;
    padding: 3%;
    box-sizing: border-box;
    width: 50%;
    // border: 1px solid #F56F6C;
  }

  .login-password {
    font-size: 1rem;
    padding: 3%;
    box-sizing: border-box;
    width: 50%;
    // border: 1px solid #F56F6C;
  }

  .login-btn {
    font-size: 1.3rem;
    padding: 3%;
    box-sizing: border-box;
    width: 100%;
    background: #F6F7F9;
    border: 1px solid darkgray;
  }

  .login-user-name {
    width: 100%;
    font-size: 1rem;
    padding: 3%;
    box-sizing: border-box;
    // border: 1px solid #F56F6C;

  }
}
