.login-holder {
  width: 50%;
  margin: 0 auto;
  margin-top: 13vh;
  border: 2px solid #F56F6C;
  text-align: center;
  padding: 2%;


  h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.7rem;
  }
}
