nav {
  background: #F56F6C;
  // background: transparent;
  box-sizing: border-box;
  padding: 2%;
  position: fixed;
  opacity: 0.9;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-bottom: 1px solid #252932;
}

.home-link {
  text-decoration: none;
  color: black;
}

.book-search {
  display: inline-block;
  margin-left: 35%;

  input[type=text] {
    // padding: 2%;
  }

  input[type=submit] {
    // padding: 2%;
  }
}

.login-link {
  float: right;
  margin-left: 1rem;
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: underline;
  }
}
