.posts-container {
  display: inline-block;
  width: 65%;
}

.posts-holder {
  list-style-type: none;
  padding: 0;

  .single-post-holder {
    background: linear-gradient( rgba(245, 111, 108, 0.30), rgba(245, 111, 108, 0.75)),;
    // url('https://s-media-cache-ak0.pinimg.com/736x/41/83/b9/4183b998758372ee14efaa4b2a430b4c.jpg');
    margin-bottom: 2rem;
    width: 100%;
    border-bottom: 2px solid black;
    // float: left;
    // padding: 1%;
    border-radius: 8px;

    .single-post-title {
      // text-transform: uppercase;
      font-weight: bold;
      border-bottom: 2px solid #E08671;
      font-size: 1.4rem;
      // color: white;
      letter-spacing: -1px;
      padding: 1%;
      // background: #0C4C58;
      margin-top: 0;
      margin-bottom: 0;
    }

    .single-post-body {
      margin-top: 0;
      padding: 2%;
      font-size: 1.1rem;
      margin-bottom: 0
    }

    .single-post-timestamp {
      // font-weight: bold;
      text-align: right;
      margin-top: 0;
      margin-bottom: 0;
      text-transform: uppercase;
      font-size: 0.8rem;
    }
  }
}
